/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #messages {
   height: 60vh;
   overflow: scroll;
 }
 .message-box{
   margin-top: 10px;
   
 }
 .message-box.from{
    text-align: right;
 }
div#messages div.message{
  padding: 15px;
  display: inline-block;
}
div#messages div.message.to {
    border-top-left-radius: 0;
    background: rgba(5, 117, 230,0.1);
}
div#messages div.message.from {
  border-top-left-radius: 0;
  background: #6963ff;
  color: white;
}